includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 9

    paths:
        - src/
        - wp-asset-manager.php

    bootstrapFiles:
        - vendor/autoload.php
