<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  failOnAllIssues="true"
  cacheDirectory=".phpunit.result.cache"
>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <php>
    <!-- <env name="MANTLE_USE_SQLITE" value="true" /> -->
    <!-- <env name="WP_SKIP_DB_CREATE" value="true" /> -->
  </php>
</phpunit>
